.boards__list {
    border: 1px solid #000;
    background-color: white;
    margin-right: 2rem;
    max-height: 25rem;
    min-height: 9rem;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(240, 232, 232, 0.5), 0 6px 20px 0 rgba(0,0,0,0.14);
}

li {
    padding: .5em;
}