.boards__list {
    border: 1px solid #000;
    background-color: white;
    margin-right: 2rem;
    max-height: 9rem;
    min-height: 9rem;
    overflow: scroll;
}

li {
    padding: .5em;
}

li:hover {
    cursor: pointer;
    background-color: lightgrey;
    transition: 0.3s all ease-in-out;
    color: #555;
}