body {
  color: #000;
  margin: 1rem;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content__container {
  flex: 1 0 auto;
}

h1 {
  display: inline-block;
  align-items: center;
}


.boards__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: lightseagreen;
}

.new-board-form__container, .new-card-form__container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
}

button:hover {
  cursor: pointer;
}